.size {
    width: 200px;
    height: 200px;
    padding: 22px;
    border: 10px solid #EFBBD2;
    margin: 10px;
}

.row {
    position: relative;
    bottom: 265px;
}

.digglet {
    width: 100px;
    padding: 40px;
    margin: 25px;
    background-image: url(/img/dig.png);
    background-size: 100%
}

body {
    background-image: url(/img/digletbackground.jpg);
    background-size: 100%;
    cursor:url("/img/pokeball.png"), auto;
}

.btn {
    position: relative;
    left: 800px;
    bottom: 915px;
}

#score {
    position: relative;
    left: 670px;
    top: 10px;
    font-size: 50px;
}

#highScore {
    position: relative;
    left: 900px;
    bottom: 153px;
    font-size: 50px;
}

#timer {
    position: relative;
    left: 670px;
    bottom: 20px;
    font-size: 50px;
}


